<link rel="stylesheet" type="text/css" href="/css/hint.min.css">@import "//at.alicdn.com/t/font_2264842_b004iy0kk2b.css";

/*
 滚动条样式设置
 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(66, 66, 66);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #141918;
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #ffffff;
    background-color: #000000;
}

/*
 透明度及一图流设置
 */
/* 页脚透明 */
#footer{
    background: transparent!important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before{
    background: transparent!important;
}
/* 头图透明 */
#page-header{
    background: transparent!important;
}
/*!*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 *!*/
/*#page-header.post-bg:before {*/
/*    background-color: transparent!important;*/
/*}*/
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
#footer::before{
    background: transparent!important;
}
[data-theme="dark"]
#page-header::before{
    background: transparent!important;
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    background:rgba(255, 255, 255, 0.9);
}
/* 首页侧栏卡片 */
.card-widget{
    background:rgba(255, 255, 255, 0.9)!important;
}
/* 文章页面正文背景 */
div#post{
    background: rgba(255, 255, 255, 0.9);
}
/* 分页页面 */
div#page{
    background: rgba(255, 255, 255, 0.9);
}
/* 归档页面 */
div#archive{
    background: rgba(255, 255, 255, 0.9);
}
/* 标签页面 */
div#tag{
    background: rgba(255, 255, 255, 0.9);
}
/* 分类页面 */
div#category{
    background: rgba(255, 255, 255, 0.9);
}

/*
 夜间模式设置
 */
[data-theme="dark"]
#recent-posts > .recent-post-item{
    background: rgba(0, 0, 0, 0.5)!important;
}

[data-theme="dark"]
#aside-content .card-widget{
    background: rgba(0, 0, 0, 0.5)!important;
}

[data-theme="dark"]
div#post{
    background: rgba(0, 0, 0, 0.5)!important;
}

[data-theme="dark"]
div#page{
    background: rgba(0, 0, 0, 0.5)!important;
}

[data-theme="dark"]
div#archive{
    background: rgba(0, 0, 0, 0.5)!important;
}

[data-theme="dark"]
div#tag{
    background: rgba(0, 0, 0, 0.5)!important;
}

[data-theme="dark"]
div#category{
    background: rgba(0, 0, 0, 0.5)!important;
}

/*iconfont默认样式*/
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
/* 页脚蝴蝶振翅动画 */
.copyright svg{
    animation:butterfly 1s linear infinite alternate;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes butterfly {
    from {
        transform: rotateY(70deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

/*归档页生肖图标设置*/
svg.icon {
    /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
    width: 1em; height: 1em;
    /* width和height定义图标的默认宽度和高度*/
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*
 增加脚注
 */
#footnotes{
    display: none;
}

/*
 隐藏页面标题
 */
#page h1.page-title {
    display: none;
}

#site-title{
    display: none;
}

/*
 鼠标样式设置
 */
body {
    cursor: url(https://cdn.jsdelivr.net/gh/J-o-T-e-r/Image_Warehouse/img/Arrow.cur),
    default;
}
a:hover{
    cursor: url(https://cdn.jsdelivr.net/gh/J-o-T-e-r/Image_Warehouse/img/Hand2.cur),
    default;
}